<!DOCTYPE html>
<html>

<head>
    <title>User Data</title>
</head>

<body>
    <h1>User Data</h1>
    <p>ID: <%= userData.id %>
    </p>
    <p>Username: <%= userData.username %>
    </p>
    <p>First Name: <%= userData.firstName %>
    </p>
    <p>Last Name: <%= userData.lastName %>
    </p>
</body>

</html>